---
version: v3
teleport:
  auth_token: "{{ teleport_auth_token }}"
  ca_pin: "{{ teleport_ca_pin }}"
  auth_servers:
{% for auth_server in teleport_auth_servers %}
    - "{{ auth_server }}"
{% endfor %}
{% if teleport_proxy_server|string %}
  proxy_server: {{ teleport_proxy_server }}
{% endif %}
  log:
    output: stderr
    severity: INFO
    format:
      output: text
  diag_addr: ""
ssh_service:
  enabled: "yes"
  labels:
{% for ssh_label in teleport_ssh_labels %}
    {{ ssh_label.k }}: {{ ssh_label.v }}
{% endfor %}
  commands:
  - name: hostname
    command: [hostname]
    period: 60m0s
  - name: uptime
    command: [uptime, -p]
    period: 5m0s
  - name: version
    command: [teleport, version]
    period: 60m0s
proxy_service:
proxy_service:
  enabled: "no"
  https_keypairs: []
  https_keypairs_reload_interval: 0s
  acme: {}
auth_service:
  enabled: "no"
