teleport:
  auth_token: {{ teleport_auth_token }}
  ca_pin: {{ teleport_ca_pin }}
  auth_servers:
{% for auth_server in teleport_auth_servers %}
    - {{ auth_server }}
{% endfor %}
ssh_service:
  enabled: "yes"
  commands:
  - name: uptime
    command: [uptime, -p]
    period: 5m0s
proxy_service:
  enabled: "no"
auth_service:
  enabled: "no"
