---
version: v3
teleport:
  auth_token: "{{ teleport_auth_token }}"
  ca_pin: "{{ teleport_ca_pin }}"
{% if teleport_auth_server|string %}
  auth_server: {{ teleport_auth_server }}
{% endif %}
{% if teleport_proxy_server|string %}
  proxy_server: {{ teleport_proxy_server }}
{% endif %}
  log:
    output: stderr
    severity: INFO
    format:
      output: text
  diag_addr: ""
ssh_service:
  enabled: "yes"
{% if teleport_ssh_labels | length > 0 %}
  labels:
{% for ssh_label in teleport_ssh_labels %}
    {{ ssh_label.k }}: {{ ssh_label.v }}
{% endfor %}
{% endif %}
{%- if teleport_ssh_commands %}
  commands: {{ teleport_ssh_commands }}
{% endif %}
proxy_service:
  enabled: "no"
  https_keypairs: []
  https_keypairs_reload_interval: 0s
  acme: {}
auth_service:
  enabled: "no"
